
body{
    background-color: rgb(255, 255, 255);
    background-image: url('../assets/background.png');
    
}
.sign-up-form{
    width: 300px;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0,0.3);
    color: black;
    padding: 20px;
    margin: 8% auto;
    text-align: center;
    background-color: #fff;

}
.sign-up-form h1{
    color: #0c66f7;
}
.input-box {
    width: 95%;
    border-radius:20px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #999;
    outline: none;
}
button{
    color: #fff;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn-s{
    background-color: #0c66f7;
}
.btn-g{
    background-color: #0c66f7;
}
hr{
    margin-top: 20px;
    width: 80%;
}
.or{
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
    color: black;
}
.faul a{
    text-decoration: none;
    margin-right: 10px;
}